

.footer{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    align-items: center;
    background-color: #fef5e6   ;
    justify-content: center;
}
.footer>span{
    font-size: 1rem;
    font-weight:500;
}
.container{
    color: var(--themeRed);
    font-weight: bold;
}
.logo{
    display: flex;
    justify-items: center;
    justify-content: center;

}
.social{
    display: flex;
    gap: 1rem;
}
.social>*{

    fill: #f8af4a;
}